.container {
  background-color: beige;
  border: 5px solid black;
  margin: 2px;
  padding: 2px;
  display: flex;
  /* flex-direction: column-reverse; */
  /* min-height: 650px; */
  /* flex-wrap: wrap; */
  /* justify-content: space-evenly; */
  /* align-items: start; */
  /* align-content: center; */
}
.box {
  height: 200px;
  width: 200px;
  border: 2px solid brown;
  margin: 2px;
  padding: 2px;
}

#box1 {
  background-color: aqua;
  /* order: 500; */
  /* flex-shrink: 4; */
  /* flex-grow: 1; */
  /* align-self: end; */
}
#box2 {
  background-color: blue;
  /* flex-grow: 1; */
}
#box2 > span {
  background-color: black;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
#box3 {
  background-color: orange;
  /* flex-grow: 1; */
}
#box3:hover {
  transition-duration: 500ms;
  transform: scale(1.3);
}

#box4 {
  background-color: brown;
  /* order: -1; */
  /* flex-grow: 1; */
  /* flex-basis: 400px; */
}
