/* .main-heading{
    background-color: red;
    color: white;

} */

h1{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
}
.orange{
    background-color: orange;
    padding: 10px;
    border: 5px solid black;
}