/* *{
    margin: 0;
    padding: 0;
} */

/* h1 , h2 , h3{
    background-color: red;
} */
/* .bg{
    background-color: red;
}
.mt{
    margin-top: 500px;
} */
/* .main-head {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px;
}

ul li {
    background-color: #00ffff;
}

h1~p {
    background-color: rgb(0, 0, 0);
    opacity: 1;
    color: #000;
} */


/* .main {
    background-color: red;
}

.child {
    background-color: black;
    color: white;
    width: 50%;
} */
/* p{
    font-weight: bolder;
    font-style: normal;
    text-transform: lowercase;
    text-decoration: line-through;
    line-height: 1rem;
    letter-spacing: 1rem;
    text-align: justify;
    text-indent: 12rem;
    text-shadow: 2px 2px 7px #111111;

} */
/* p::first-line{
    color: brown;
    font-size: 1rem;
} */
/* a:visited{
    background-color: red;
}
a:link{
    background-color: blueviolet;
} */

/* button:hover{
    background-color: red;
}
p:hover{
    color: red;
} */



*{
    margin: 0;
    padding: 0;
}
/* .main{
    background-color: red;
    padding: 2rem;
    border: 20px solid black;
    margin: 0rem 5rem 3rem 6rem;
    margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;
    padding: 1rem 2rem 4rem 5rem;
} */
h1{
    border: 2px solid #000;
    margin: 5rem;
    padding: 2rem;
    text-align: center;
    background-color: gray;
    color: red;
}
h1:hover{
    /* background-color: white; */
    color:black;
}
