*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
ul{
    list-style: square;
    text-align: end;
    font-family: 'Ubuntu', sans-serif;
}
li{
    display: inline;
    color: white;
    margin-left: 10px;
}
li:hover{
    color: pink;
    cursor: pointer;
    text-decoration: underline;
}
.navbar{
    background-color: black;
    width: 100%;
    /* margin-top: 20px; */
    padding: 10px;
    /* position: fixed; */
}
/* 
h1{
    display: inline;
}
p{
    display: inline;
}
img{
    display: block;
    margin: 20px auto;

} */
.container{
    width: 300px;
    height: 300px;
    background-color: gray;
    margin: 100px;
}
.box{
    width: 100px;
    height: 100px;
}
.blue{
    background-color: blue;
    position: relative;
    top: 40px;
    left: 30px;
}
.green{
    background-color: green;
    position: absolute;
    /* bottom: 0; */
    right: 0;
}
.red{
    background-color: red;
    position: static;
}
.main-div{
    min-height: 100px;
    max-height: 300px;
    background-color: red;
    color: wheat;
    /* overflow: auto; */
    /* border-width: 20px;
    border-style: dashed;
    border-color: black; */
    /* border: 10px dashed black; */
    padding: 20px;
    /* visibility: hidden;
    display: none; */
    margin-top: 50px;
    /* box-shadow: 15px 15px 15px 15px #777777; */
}
.border{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: 10px auto;
    border-radius: 73% 27% 0% 100% / 100% 0% 100% 0% ;
    
}
.border:hover{
    background-color: yellow;
    border-color: green;
}